/* Estilos Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Arial", sans-serif;
  background-image: url(assets/bakgorundnew.jpg);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.app-container {
  background: rgba(3, 3, 3, 0.1);
  border-radius: 10px;
  padding: 30px;
  width: 800px; /* Aumentando a largura em 40% */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  backdrop-filter: blur(20px); /* Efeito de blur no fundo */
  border: 2px solid rgba(255, 255, 255, 0.1); /* Borda transparente */
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.input-container {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #222;
  color: white;
  font-size: 1rem;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #222;
  color: white;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
}

button:hover {
  background-color: #555;
}

.filters {
  margin-top: 20px;
}

.filter-btn {
  background-color: transparent;
  border: 1px solid #555;
  color: white;
  padding: 5px 15px;
  margin: 0 5px;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #555;
}

ul {
  list-style-type: none;
  margin-top: 20px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #444;
  font-size: 1.1rem;
}

/* Relógio Digital */
.clock {
  position: fixed;
  top: 170px;
  right: 80px;
  width: 200px;
  height: 70px;
  color: white;
  font-size: 30px; /* Aumentando o tamanho em 30% */
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Data */
.date {
  position: absolute;
  width: 350px;
  height: 150px; /* Aumentando a altura para 100px */
  top: 10px;
  right: 20px;
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px 5px; /* Aumentando o padding para 100px */
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#day-of-week {
  font-weight: 500;
  font-size: 4rem;
}

/* Responsividade */
@media (max-width: 400px) {
  .app-container {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  input[type="text"],
  select,
  button {
    width: 100%;
    margin: 5px 0;
  }

  .filter-btn {
    width: 100%;
    margin-bottom: 5px;
  }
}

/* Estilo para o botão ativo da categoria */
.active-category {
    background-color: #383b3d; /* Cor de fundo azul */
    color: white; /* Cor do texto branca */
    border: 2px solid #fff; /* Borda mais escura */
    font-weight: bold; /* Deixa o texto em negrito */
    cursor: pointer; /* Cursor pointer para indicar interatividade */
}

.active-category:hover {
    background-color: #e5e9ec; /* Cor de fundo mais escura ao passar o mouse */
    color: black;
}

/* Estilo para as tarefas na lista */
.task {
    margin-bottom: 5px; /* Reduz o espaço entre as tarefas (50% de redução) */
}

/* Estilo para o nome da categoria ao lado da tarefa */
.category-name {
    font-size: 0.8em; /* Tamanho de fonte menor */
    color: #fff; /* Cor cinza para a categoria */
    margin-left: 5px; /* Espaço à esquerda da tarefa */
    font-style: italic; /* Deixa a categoria em itálico */
}

/* Estilo para o botão de remover (X) */
.remove-task-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
}

.remove-task-btn:hover {
    color: darkred; /* Cor mais escura ao passar o mouse */
}

